<header class="header">
	<div class="header__container">
		<div class="flex">
			<img class="header__container--logo" src="{{asset('build/images/logo.png')}}" alt="Logo de Nutrisain.">
			<button class="header__container--btn">
				<i class="fas fa-bars"></i>
			</button>
		</div>
		<div>
			<nav class="header__container--nav">
				<a href="#" class="btn btn__primary header__link">Accueil</a>
				<a href="#" class="btn btn__primary header__link">La carte</a>
				<a href="#" class="btn btn__primary header__link">Nos menus</a>
				<a href="#" class="btn btn__primary header__link">Réserver</a>
				<a href="#" class="btn btn__primary header__link">S'inscire</a>
				<a href="#" class="btn btn__primary header__link">Se connecter</a>
			</nav>
		</div>
	</div>
</header>