@use "../../../sass/utils/_main" as utils

.main-courses-dishes
    text-align: center
    margin-top: 25vw
    padding-right: 5vw

    &__title
        @extend %title-2

    &__list
        margin-top: 5vw


.berthoud
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.camembert
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.croziflette
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.reblochon-cheese-fondue
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.three-cheese-fondue
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.meat-fondue
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.charcuterie-platter
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.raclette-for-two
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.raclette-for-many
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.reblochon-tart
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown

.tartiflette
    margin-top: 17vw
    +utils.responsive(tablet)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

    &__image
        width: 30vw

    &__description
        margin-top: 5vw
        padding: 5vw

        &--title
            @extend %title-3

        &--details
            @extend %paragraphe-s

    &__price
        @extend %paragraphe-s
        color: utils.$brown
