{% extends "base.html.twig" %}

{% block title %}
    Le Quai Antique - Inscription
{% endblock %}

{% block body %}
<section>
    <h1>Formulaire d'inscription</h1>

    {{ form(form)}}
</section>
{% endblock %}
