{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Menus{% endblock %}

{% block body %}
<section class="header">
	<h1 class="header__title">Nos Menus</h1>
	<p class="header__description">Nous avons 3 menus disponibles :
		<a class="header__description--link">la formule du midi</a>,
		<a class="header__description--link">le Duo</a>, et
		<a class="header__description--link">les Gourmands</a>.</p>
        <p class="header__description">Tous nos plats sont fait maison avec des produits de qualité et locaux.</p>
</section>

<section class="lunch-menu">
	<div class="lunch-menu__description">
		<h2 class="lunch-menu__description--title">La formule du midi</h2>
		<p class="lunch-menu__description--text">Entrée + Plat + Dessert</p>
        <p class="lunch-menu__description--price">15€</p>
	</div>
	<div class="lunch-menu__starters">
		<h3 class="lunch-menu__starters--title">Entrée</h3>
		<ul class="lunch-menu__starters--list">
			<li class="lunch-list__starters">Salade de chèvre chaud</li>
			<li class="lunch-list__starters">Bruschetta de tomates et dés de fromages</li>
		</ul>
	</div>
	<div class="lunch-menu__main-courses">
		<h3 class="lunch-menu__main-courses--title">Plat</h3>
		<p class="lunch-menu__main-courses--list">Plat du jour</p>
	</div>
	<div class="lunch-menu__desserts">
		<h3 class="lunch-menu__desserts--title">Dessert</h3>
		<ul class="lunch-menu__desserts--list">
			<li class="lunch-list__desserts">Café gourmand</li>
            <li class="lunch-list__desserts">Cheesecake aux fruits rouges</li>
		</ul>
	</div>
</section>

<section class="duo-menu">
	<div class="duo-menu__description">
		<h2 class="duo-menu__description--title">Le Duo</h2>
		<p class="duo-menu__description--text">Menu idéal pour deux !</p>
        <p class="duo-menu__description--price">35€</p>
	</div>
	</div>
	<div class="duo-menu__main-courses">
		<h3 class="duo-menu__main-courses--title">Plat</h3>
		<ul class="duo-menu__main-courses--list">
			<li class="duo-list__main-courses">Raclette servie avex son plateau de charcuterie.</li>
			<li class="duo-list__main-courses">Fondue de viande</li>
            <li class="duo-list__main-courses">Fondue de reblochon</li>
		</ul>
	</div>
	<div class="duo-menu__desserts">
		<h3 class="duo-menu__desserts--title">Dessert</h3>
		<ul class="duo-menu__desserts--list">
			<li class="duo-list__desserts">Coupe glacée liégeois et guimauves.</li>
            <li class="duo-list__desserts">Café gourmand</li>
            <li class="duo-list__desserts">Gâteau au chocolas et son coulis de caramel</li>
		</ul>
	</div>
</section>

<sectiton class="gourmands-menu">
	<div class="gourmands-menu__description">
		<h2 class="gourmands-menu__description--title">Les Gourmands</h2>
		<p class="gourmands-menu__description--text">Menu à partager entre gourmands !</p>
        <p class="gourmands-menu__description--price">50€</p>
	</div>
	<div class="gourmands-menu__main-courses">
		<h3 class="gourmands-menu__main-courses--title">Plat</h3>
		<ul class="gourmands-menu__main-courses--list">
			<li class="gourmands-list__main-courses">Raclette servie avec plateau de charcuterie</li>
			<li class="gourmands-list__main-courses">Fondue de viande</li>
			<li class="gourmands-list__main-courses">Fondue de reblochon</li>
			<li class="gourmands-list__main-courses">Fondue aux trois fromages</li>
		</ul>
	</div>
	<div class="gourmands-menu__desserts">
		<h3 class="gourmands-menu__desserts--title">Dessert</h3>
        <p class="gourmands-menu__desserts--description">Un dessert pour chaque personne partageant ce menu.</p>
		<ul class="gourmands-menu__desserts--list">
			<li class="gourmands-list__desserts">Gâteau à la crème mascarpone saveur vanille et son coulis de fruits rouges</li>
            <li class="gourmands-list__desserts">Gâteau au chocolat et à la guimauve</li>
            <li class="gourmands-list__desserts">Cheesecake aux fruits rouges</li>
		</ul>
	</div>
</sectiton>
{% endblock %}
