* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.resa-form__title, .main-dishes__title, .main__title {
  font-family: "garamond", serif;
  font-size: 3rem;
}

.desserts-dishes__title, .vegetarians-dishes__title, .burgers-dishes__title, .main-courses-dishes__title, .starters-dishes__title, .gourmands-menu__description--title, .duo-menu__description--title, .lunch-menu__description--title, .description__title, .famous-dishes__title, .raclette-card__description--title, .reblochon-card__description--title, .tartiflette-card__description--title, .cammenbert-card__description--title {
  font-family: "garamond", serif;
  font-size: 2.3rem;
}

.gourmet-coffee__description--title, .cheesecake__description--title, .chocolate-ice-cream__description--title, .chocolate-caramel-cake__description--title, .chocolate-marshmallows-cake__description--title, .cream-cake__description--title, .rice-vegetables__description--title, .vegetables-soups__description--title, .vegetables-tower__description--title, .potatoes-garlic-soups__description--title, .double-cheddar-burger__description--title, .double-cheese-burger__description--title, .meat-burger__description--title, .black-bread-burger__description--title, .reblochon-burger__description--title, .berthoud__description--title, .camembert__description--title, .croziflette__description--title, .reblochon-cheese-fondue__description--title, .three-cheese-fondue__description--title, .meat-fondue__description--title, .charcuterie-platter__description--title, .raclette-for-two__description--title, .raclette-for-many__description--title, .reblochon-tart__description--title, .tartiflette__description--title, .bruschetta__description--title, .lettuce__description--title, .quinoa__description--title, .goat-cheese-salad__description--title, .pasta-salad__description--title, .gourmands-menu__main-courses--title, .gourmands-menu__desserts--title, .duo-menu__main-courses--title, .duo-menu__desserts--title, .lunch-menu__starters--title, .lunch-menu__main-courses--title, .lunch-menu__desserts--title, .menu__category {
  font-family: "garamond", serif;
  font-size: 1.7rem;
}

.footer__contact--title, .footer__legals--title {
  font-family: "garamond", serif;
  font-size: 1.3rem;
}

.main-dishes__description, .main__description, .main__text-presentation {
  font-family: "franckruehl", serif;
  font-size: 2rem;
}

.gourmands-menu__description--text, .gourmands-menu__description--price, .duo-menu__description--text, .duo-menu__description--price, .lunch-menu__description--text, .lunch-menu__description--price, .description__text-presentation, .famous-dishes__text-presentation, .raclette-card__description--text-presentation, .reblochon-card__description--text-presentation, .tartiflette-card__description--text-presentation, .cammenbert-card__description--text-presentation {
  font-family: "franckruehl", serif;
  font-size: 1.7rem;
}

.resa-form__label, .resa-form__input, .resa-form__button, .gourmet-coffee__description--details, .gourmet-coffee__price, .cheesecake__description--details, .cheesecake__price, .chocolate-ice-cream__description--details, .chocolate-ice-cream__price, .chocolate-caramel-cake__description--details, .chocolate-caramel-cake__price, .chocolate-marshmallows-cake__description--details, .chocolate-marshmallows-cake__price, .cream-cake__description--details, .cream-cake__price, .rice-vegetables__description--details, .rice-vegetables__price, .vegetables-soups__description--details, .vegetables-soups__price, .vegetables-tower__description--details, .vegetables-tower__price, .potatoes-garlic-soups__description--details, .potatoes-garlic-soups__price, .double-cheddar-burger__description--details, .double-cheddar-burger__price, .double-cheese-burger__description--details, .double-cheese-burger__price, .meat-burger__description--details, .meat-burger__price, .black-bread-burger__description--details, .black-bread-burger__price, .reblochon-burger__description--details, .reblochon-burger__price, .berthoud__description--details, .berthoud__price, .camembert__description--details, .camembert__price, .croziflette__description--details, .croziflette__price, .reblochon-cheese-fondue__description--details, .reblochon-cheese-fondue__price, .three-cheese-fondue__description--details, .three-cheese-fondue__price, .meat-fondue__description--details, .meat-fondue__price, .charcuterie-platter__description--details, .charcuterie-platter__price, .raclette-for-two__description--details, .raclette-for-two__price, .raclette-for-many__description--details, .raclette-for-many__price, .reblochon-tart__description--details, .reblochon-tart__price, .tartiflette__description--details, .tartiflette__price, .bruschetta__description--details, .bruschetta__price, .lettuce__description--details, .lettuce__price, .quinoa__description--details, .quinoa__price, .goat-cheese-salad__description--details, .goat-cheese-salad__price, .pasta-salad__description--details, .pasta-salad__price, .gourmands-menu__main-courses--list, .gourmands-menu__desserts--description, .gourmands-menu__desserts--list, .gourmands-list__main-courses, .gourmands-list__desserts, .duo-menu__main-courses--list, .duo-menu__desserts--list, .duo-list__main-courses, .duo-list__desserts, .lunch-menu__starters--list, .lunch-menu__main-courses--list, .lunch-menu__desserts--list, .lunch-list__starters, .lunch-list__main-courses, .lunch-list__desserts, .menu__btn, .lunch-menu__information, .menu__dish, .menu__modification--modifier, .menu__modification--delete, .header__link {
  font-family: "franckruehl", serif;
  font-size: 1.3rem;
}

.footer__contact--links, .footer__legals--links, .footer__copyright {
  font-family: "franckruehl", serif;
  font-size: 0.75rem;
}

.flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #000000;
  color: #D6BE74;
}

.header {
  background-color: #000000;
}

.header__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 884px) {
  .header__container {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.header__container--logo {
  width: 20vw;
}

.header__container--nav {
  display: none;
}
@media screen and (min-width: 884px) {
  .header__container--nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    margin: auto;
    transition: height, margin 0.3s eases;
  }
}
.header__link {
  margin: 0.8rem;
  color: #D6BE74;
  text-align: center;
  transition: color 0.5s ease;
}
@media screen and (min-width: 884px) {
  .header__link {
    margin: 0.07rem;
  }
}

.nav-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  transition: all 400ms;
}

.header__container--btn {
  width: 2.3rem;
  margin-right: 8vw;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 884px) {
  .header__container--btn {
    display: none;
  }
}
.header__container--btn i {
  display: block;
  color: #6C643C;
  font-size: 1.5rem;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
}
.btn__primary {
  background-color: #D6BE74;
  color: #000000;
}
.btn__primary:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}

.footer {
  color: #6C643C;
  border-top: solid;
  border-color: #6C643C;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vw;
}
.footer__logo {
  width: 20vw;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.footer__contact {
  margin-top: 2vw;
}
.footer__contact--title {
  text-decoration: underline;
}
.footer__contact--links:hover {
  color: #8D3B09;
}
.footer__legals {
  margin-top: 2vw;
}
.footer__legals--title {
  text-decoration: underline;
}
.footer__legals--links:hover {
  color: #8D3B09;
}
.footer__copyright {
  margin-top: 2vw;
}

.main {
  text-align: center;
  padding: 5vw;
}
.main__title {
  color: #D6BE74;
}
.main__text-presentation {
  color: #6C643C;
}

.description {
  text-align: center;
  padding: 0 7vw 7vw 7vw;
}
.description__title {
  color: #D6BE74;
}
.description__text-presentation {
  color: #6C643C;
}

.famous-dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.famous-dishes__title {
  color: #D6BE74;
}
.famous-dishes__text-presentation {
  text-align: center;
  color: #6C643C;
}

.raclette-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
  margin-top: 5vw;
}
@media screen and (min-width: 884px) {
  .raclette-card {
    flex-direction: row;
  }
}
.raclette-card__view {
  width: 50%;
}
.raclette-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.raclette-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.raclette-card__description--title {
  color: #8D3B09;
}
.raclette-card__description--text-presentation {
  color: #D6BE74;
}

.reblochon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
}
@media screen and (min-width: 884px) {
  .reblochon-card {
    flex-direction: row;
  }
}
.reblochon-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.reblochon-card__description--title {
  color: #8D3B09;
}
.reblochon-card__description--text-presentation {
  color: #D6BE74;
}
.reblochon-card__view {
  width: 50%;
}
.reblochon-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tartiflette-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
}
@media screen and (min-width: 884px) {
  .tartiflette-card {
    flex-direction: row;
  }
}
.tartiflette-card__view {
  width: 50%;
}
.tartiflette-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tartiflette-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.tartiflette-card__description--title {
  color: #8D3B09;
}
.tartiflette-card__description--text-presentation {
  color: #D6BE74;
}

.cammenbert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
}
@media screen and (min-width: 884px) {
  .cammenbert-card {
    flex-direction: row;
  }
}
.cammenbert-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.cammenbert-card__description--title {
  color: #8D3B09;
}
.cammenbert-card__description--text-presentation {
  color: #D6BE74;
}
.cammenbert-card__view {
  width: 50%;
}
.cammenbert-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-reservation {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin-top: 5vw;
  padding: 1vw;
  background-color: #D6BE74;
  color: #000000;
  cursor: pointer;
}
.btn-reservation:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}

.menu__category {
  margin-top: 3.5vw;
}
.menu__modification {
  margin-top: 5vw;
}
.menu__modification--modifier {
  margin-top: 1.5vw;
  text-align: center;
  margin-right: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.menu__modification--modifier:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}
.menu__modification--delete {
  margin-top: 1.5vw;
  text-align: center;
  margin-left: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.menu__modification--delete:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}

.main {
  text-align: center;
  margin-top: 3vw;
}
.main__title {
  text-align: center;
  margin-bottom: 5vw;
}
.main__description {
  text-align: center;
}
.main__description--link {
  text-decoration: underline;
  text-decoration-color: #6C643C;
}
.main__description--link:hover {
  color: #8D3B09;
  text-decoration-color: #8D3B09;
}

.menu__btn {
  background-color: #8D3B09;
  color: #D6BE74;
}
.menu__btn:hover {
  background-color: #D6BE74;
  color: #000000;
}

.lunch-menu {
  text-align: center;
}
.lunch-menu__description {
  margin-top: 10vw;
}
.lunch-menu__description--title {
  margin-top: 4vw;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.lunch-menu__description--text {
  margin-top: 2.5vw;
  text-align: center;
}
.lunch-menu__description--price {
  text-align: center;
  margin-top: 1.5vw;
  color: #8D3B09;
}
.lunch-menu__starters {
  margin-top: 3.5vw;
}
.lunch-menu__starters--title {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__starters--list {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__main-courses {
  margin-top: 3.5vw;
  text-align: center;
}
.lunch-menu__main-courses--title {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__main-courses--list {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__desserts {
  margin-top: 3.5vw;
}
.lunch-menu__desserts--title {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__desserts--list {
  margin-top: 1.3vw;
  text-align: center;
}

.lunch-list__starters {
  text-align: center;
}

.lunch-list__main-courses {
  text-align: center;
}

.lunch-list__desserts {
  text-align: center;
}

.duo-menu {
  text-align: center;
}
.duo-menu__description {
  margin-top: 10vw;
}
.duo-menu__description--title {
  margin-top: 4vw;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.duo-menu__description--text {
  margin-top: 2.5vw;
  text-align: center;
}
.duo-menu__description--price {
  margin-top: 1.5vw;
  color: #8D3B09;
  text-align: center;
}
.duo-menu__main-courses {
  margin-top: 3.5vw;
}
.duo-menu__main-courses--title {
  margin-top: 1.3vw;
  text-align: center;
}
.duo-menu__main-courses--list {
  margin-top: 1.3vw;
  text-align: center;
}
.duo-menu__desserts {
  margin-top: 3.5vw;
}
.duo-menu__desserts--title {
  margin-top: 1.3vw;
  text-align: center;
}
.duo-menu__desserts--list {
  margin-top: 1.3vw;
  text-align: center;
}

.duo-list__main-courses {
  text-align: center;
}

.duo-list__desserts {
  text-align: center;
}

.gourmands-menu {
  text-align: center;
}
.gourmands-menu__description {
  margin-top: 10vw;
}
.gourmands-menu__description--title {
  margin-top: 4vw;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-align: center;
}
.gourmands-menu__description--text {
  margin-top: 2.5vw;
  text-align: center;
}
.gourmands-menu__description--price {
  margin-top: 1.5vw;
  color: #8D3B09;
  text-align: center;
}
.gourmands-menu__main-courses {
  margin-top: 3.5vw;
}
.gourmands-menu__main-courses--title {
  margin-top: 1.3vw;
  text-align: center;
}
.gourmands-menu__main-courses--list {
  margin-top: 1.3vw;
  text-align: center;
}
.gourmands-menu__desserts {
  margin-top: 3.5vw;
}
.gourmands-menu__desserts--title {
  margin-top: 1.3vw;
  text-align: center;
}
.gourmands-menu__desserts--description {
  margin-top: 0.5vw;
  text-align: center;
}
.gourmands-menu__desserts--list {
  margin-top: 1.3vw;
  text-align: center;
}

.gourmands-list__main-courses {
  text-align: center;
}

.gourmands-list__desserts {
  text-align: center;
}

.main-dishes {
  text-align: center;
  margin-top: 10vw;
}
.main-dishes__title {
  margin-bottom: 5vw;
}
.starters-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.starters-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.starters-dishes__list {
  margin-top: 5vw;
}

.bruschetta {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .bruschetta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.bruschetta__image {
  width: 30vw;
}
.bruschetta__description {
  margin-top: 5vw;
  padding: 5vw;
}
.bruschetta__price {
  color: #8D3B09;
}

.lettuce {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .lettuce {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.lettuce__image {
  width: 30vw;
}
.lettuce__description {
  margin-top: 5vw;
  padding: 5vw;
}
.lettuce__price {
  color: #8D3B09;
}

.quinoa {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .quinoa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.quinoa__image {
  width: 30vw;
}
.quinoa__description {
  margin-top: 5vw;
  padding: 5vw;
}
.quinoa__price {
  color: #8D3B09;
}

.goat-cheese-salad {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .goat-cheese-salad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.goat-cheese-salad__image {
  width: 30vw;
}
.goat-cheese-salad__description {
  margin-top: 5vw;
  padding: 5vw;
}
.goat-cheese-salad__price {
  color: #8D3B09;
}

.pasta-salad {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .pasta-salad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.pasta-salad__image {
  width: 30vw;
}
.pasta-salad__description {
  margin-top: 5vw;
  padding: 5vw;
}
.pasta-salad__price {
  color: #8D3B09;
}

.main-courses-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.main-courses-dishes__list {
  margin-top: 5vw;
}

.berthoud {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .berthoud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.berthoud__image {
  width: 30vw;
}
.berthoud__description {
  margin-top: 5vw;
  padding: 5vw;
}
.berthoud__price {
  color: #8D3B09;
}

.camembert {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .camembert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.camembert__image {
  width: 30vw;
}
.camembert__description {
  margin-top: 5vw;
  padding: 5vw;
}
.camembert__price {
  color: #8D3B09;
}

.croziflette {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .croziflette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.croziflette__image {
  width: 30vw;
}
.croziflette__description {
  margin-top: 5vw;
  padding: 5vw;
}
.croziflette__price {
  color: #8D3B09;
}

.reblochon-cheese-fondue {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .reblochon-cheese-fondue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.reblochon-cheese-fondue__image {
  width: 30vw;
}
.reblochon-cheese-fondue__description {
  margin-top: 5vw;
  padding: 5vw;
}
.reblochon-cheese-fondue__price {
  color: #8D3B09;
}

.three-cheese-fondue {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .three-cheese-fondue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.three-cheese-fondue__image {
  width: 30vw;
}
.three-cheese-fondue__description {
  margin-top: 5vw;
  padding: 5vw;
}
.three-cheese-fondue__price {
  color: #8D3B09;
}

.meat-fondue {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .meat-fondue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.meat-fondue__image {
  width: 30vw;
}
.meat-fondue__description {
  margin-top: 5vw;
  padding: 5vw;
}
.meat-fondue__price {
  color: #8D3B09;
}

.charcuterie-platter {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .charcuterie-platter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.charcuterie-platter__image {
  width: 30vw;
}
.charcuterie-platter__description {
  margin-top: 5vw;
  padding: 5vw;
}
.charcuterie-platter__price {
  color: #8D3B09;
}

.raclette-for-two {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .raclette-for-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.raclette-for-two__image {
  width: 30vw;
}
.raclette-for-two__description {
  margin-top: 5vw;
  padding: 5vw;
}
.raclette-for-two__price {
  color: #8D3B09;
}

.raclette-for-many {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .raclette-for-many {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.raclette-for-many__image {
  width: 30vw;
}
.raclette-for-many__description {
  margin-top: 5vw;
  padding: 5vw;
}
.raclette-for-many__price {
  color: #8D3B09;
}

.reblochon-tart {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .reblochon-tart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.reblochon-tart__image {
  width: 30vw;
}
.reblochon-tart__description {
  margin-top: 5vw;
  padding: 5vw;
}
.reblochon-tart__price {
  color: #8D3B09;
}

.tartiflette {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .tartiflette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.tartiflette__image {
  width: 30vw;
}
.tartiflette__description {
  margin-top: 5vw;
  padding: 5vw;
}
.tartiflette__price {
  color: #8D3B09;
}

.burgers-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.burgers-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.burgers-dishes__list {
  margin-top: 5vw;
}

.double-cheddar-burger {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .double-cheddar-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.double-cheddar-burger__image {
  width: 30vw;
}
.double-cheddar-burger__description {
  margin-top: 5vw;
  padding: 5vw;
}
.double-cheddar-burger__price {
  color: #8D3B09;
}

.double-cheese-burger {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .double-cheese-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.double-cheese-burger__image {
  width: 30vw;
}
.double-cheese-burger__description {
  margin-top: 5vw;
  padding: 5vw;
}
.double-cheese-burger__price {
  color: #8D3B09;
}

.meat-burger {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .meat-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.meat-burger__image {
  width: 30vw;
}
.meat-burger__description {
  margin-top: 5vw;
  padding: 5vw;
}
.meat-burger__price {
  color: #8D3B09;
}

.black-bread-burger {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .black-bread-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.black-bread-burger__image {
  width: 30vw;
}
.black-bread-burger__description {
  margin-top: 5vw;
  padding: 5vw;
}
.black-bread-burger__price {
  color: #8D3B09;
}

.reblochon-burger {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .reblochon-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.reblochon-burger__image {
  width: 30vw;
}
.reblochon-burger__description {
  margin-top: 5vw;
  padding: 5vw;
}
.reblochon-burger__price {
  color: #8D3B09;
}

.vegetarians-dishes {
  text-align: center;
  margin-top: 20vw;
  padding-right: 5vw;
}
.vegetarians-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.vegetarians-dishes__list {
  margin-top: 5vw;
}

.rice-vegetables {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .rice-vegetables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.rice-vegetables__image {
  width: 30vw;
}
.rice-vegetables__description {
  margin-top: 5vw;
  padding: 5vw;
}
.rice-vegetables__price {
  color: #8D3B09;
}

.vegetables-soups {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .vegetables-soups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.vegetables-soups__image {
  width: 30vw;
}
.vegetables-soups__description {
  margin-top: 5vw;
  padding: 5vw;
}
.vegetables-soups__price {
  color: #8D3B09;
}

.vegetables-tower {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .vegetables-tower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.vegetables-tower__image {
  width: 30vw;
}
.vegetables-tower__description {
  margin-top: 5vw;
  padding: 5vw;
}
.vegetables-tower__price {
  color: #8D3B09;
}

.potatoes-garlic-soups {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .potatoes-garlic-soups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.potatoes-garlic-soups__image {
  width: 30vw;
}
.potatoes-garlic-soups__description {
  margin-top: 5vw;
  padding: 5vw;
}
.potatoes-garlic-soups__price {
  color: #8D3B09;
}

.desserts-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.desserts-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.desserts-dishes__list {
  margin-top: 10vw;
}

.gourmet-coffee {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .gourmet-coffee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.gourmet-coffee__image {
  width: 30vw;
}
.gourmet-coffee__description {
  margin-top: 5vw;
  padding: 5vw;
}
.gourmet-coffee__price {
  color: #8D3B09;
}

.cheesecake {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .cheesecake {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.cheesecake__image {
  width: 30vw;
}
.cheesecake__description {
  margin-top: 5vw;
  padding: 5vw;
}
.cheesecake__price {
  color: #8D3B09;
}

.chocolate-ice-cream {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .chocolate-ice-cream {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.chocolate-ice-cream__image {
  width: 30vw;
}
.chocolate-ice-cream__description {
  margin-top: 5vw;
  padding: 5vw;
}
.chocolate-ice-cream__price {
  color: #8D3B09;
}

.chocolate-caramel-cake {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .chocolate-caramel-cake {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.chocolate-caramel-cake__image {
  width: 30vw;
}
.chocolate-caramel-cake__description {
  margin-top: 5vw;
  padding: 5vw;
}
.chocolate-caramel-cake__price {
  color: #8D3B09;
}

.chocolate-marshmallows-cake {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .chocolate-marshmallows-cake {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.chocolate-marshmallows-cake__image {
  width: 30vw;
}
.chocolate-marshmallows-cake__description {
  margin-top: 5vw;
  padding: 5vw;
}
.chocolate-marshmallows-cake__price {
  color: #8D3B09;
}

.cream-cake {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .cream-cake {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.cream-cake__image {
  width: 30vw;
}
.cream-cake__description {
  margin-top: 5vw;
  padding: 5vw;
}
.cream-cake__price {
  color: #8D3B09;
}

.resa-form__title {
  text-align: center;
  margin-top: 10vw;
}
.resa-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 110vw;
}
.resa-form__form {
  display: flex;
  height: 100vw;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.resa-form__input {
  margin-left: 5vw;
}
.resa-form__button {
  background-color: #8D3B09;
  color: #D6BE74;
  text-align: center;
  margin-top: 5vw;
}
.resa-form__button:hover {
  background-color: #D6BE74;
  color: #000000;
}

#reservation_form_allergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
}
.btn__primary {
  background-color: #D6BE74;
  color: #000000;
}
.btn__primary:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}/*# sourceMappingURL=style.css.map */