* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header__title, .main__title {
  font-family: "garamond", serif;
  font-size: 3rem;
}

.lunch-menu__description--title, .duo-menu__description--title, .gourmands-menu__description--title, .description__title, .famous-dishes__title, .raclette-card__description--title, .reblochon-card__description--title, .tartiflette-card__description--title, .cammenbert-card__description--title {
  font-family: "garamond", serif;
  font-size: 2.3rem;
}

.lunch-menu__starters--title, .lunch-menu__main-courses--title, .lunch-menu__desserts--title, .duo-menu__main-courses--title, .duo-menu__desserts--title, .gourmands-menu__main-courses--title, .gourmands-menu__desserts--title {
  font-family: "garamond", serif;
  font-size: 1.7rem;
}

.footer__contact--title, .footer__legals--title {
  font-family: "garamond", serif;
  font-size: 1.3rem;
}

.header__description, .main__text-presentation {
  font-family: "franckruehl", serif;
  font-size: 2rem;
}

.lunch-menu__description--text, .lunch-menu__description--price, .duo-menu__description--text, .duo-menu__description--price, .gourmands-menu__description--text, .gourmands-menu__description--price, .description__text-presentation, .famous-dishes__text-presentation, .raclette-card__description--text-presentation, .reblochon-card__description--text-presentation, .tartiflette-card__description--text-presentation, .cammenbert-card__description--text-presentation {
  font-family: "franckruehl", serif;
  font-size: 1.7rem;
}

.lunch-menu__starters--list, .lunch-menu__main-courses--list, .lunch-menu__desserts--list, .duo-menu__main-courses--list, .duo-menu__desserts--list, .gourmands-menu__main-courses--list, .gourmands-menu__desserts--description, .gourmands-menu__desserts--list, .lunch-list__starters, .lunch-list__main-courses, .lunch-list__desserts, .duo-list__main-courses, .duo-list__desserts, .gourmands-list__main-courses, .gourmands-list__desserts, .header__link {
  font-family: "franckruehl", serif;
  font-size: 1.3rem;
}

.footer__contact--links, .footer__legals--links, .footer__copyright {
  font-family: "franckruehl", serif;
  font-size: 0.75rem;
}

.flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #000000;
  color: #D6BE74;
}

.header {
  background-color: #000000;
}

.header__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 884px) {
  .header__container {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.header__container--logo {
  width: 20vw;
}

.header__container--nav {
  display: none;
}
@media screen and (min-width: 884px) {
  .header__container--nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    margin: auto;
    transition: height, margin 0.3s eases;
  }
}
.header__link {
  margin: 0.8rem;
  color: #D6BE74;
  text-align: center;
  transition: color 0.5s ease;
}
@media screen and (min-width: 884px) {
  .header__link {
    margin: 0.07rem;
  }
}

.nav-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  transition: all 400ms;
}

.header__container--btn {
  width: 2.3rem;
  margin-right: 8vw;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 884px) {
  .header__container--btn {
    display: none;
  }
}
.header__container--btn i {
  display: block;
  color: #6C643C;
  font-size: 1.5rem;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
}
.btn__primary {
  background-color: #D6BE74;
  color: #000000;
}
.btn__primary:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}

.footer {
  color: #6C643C;
  border-top: solid;
  border-color: #6C643C;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vw;
}
.footer__logo {
  width: 20vw;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.footer__contact {
  margin-top: 2vw;
}
.footer__contact--title {
  text-decoration: underline;
}
.footer__contact--links:hover {
  color: #8D3B09;
}
.footer__legals {
  margin-top: 2vw;
}
.footer__legals--title {
  text-decoration: underline;
}
.footer__legals--links:hover {
  color: #8D3B09;
}
.footer__copyright {
  margin-top: 2vw;
}

.main {
  text-align: center;
  padding: 5vw;
}
.main__title {
  color: #D6BE74;
}
.main__text-presentation {
  color: #6C643C;
}

.description {
  text-align: center;
  padding: 0 7vw 7vw 7vw;
}
.description__title {
  color: #D6BE74;
}
.description__text-presentation {
  color: #6C643C;
}

.famous-dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.famous-dishes__title {
  color: #D6BE74;
}
.famous-dishes__text-presentation {
  text-align: center;
  color: #6C643C;
}

.raclette-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
  margin-top: 5vw;
}
@media screen and (min-width: 884px) {
  .raclette-card {
    flex-direction: row;
  }
}
.raclette-card__view {
  width: 50%;
}
.raclette-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.raclette-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.raclette-card__description--title {
  color: #8D3B09;
}
.raclette-card__description--text-presentation {
  color: #D6BE74;
}

.reblochon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
}
@media screen and (min-width: 884px) {
  .reblochon-card {
    flex-direction: row;
  }
}
.reblochon-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.reblochon-card__description--title {
  color: #8D3B09;
}
.reblochon-card__description--text-presentation {
  color: #D6BE74;
}
.reblochon-card__view {
  width: 50%;
}
.reblochon-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tartiflette-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
}
@media screen and (min-width: 884px) {
  .tartiflette-card {
    flex-direction: row;
  }
}
.tartiflette-card__view {
  width: 50%;
}
.tartiflette-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tartiflette-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.tartiflette-card__description--title {
  color: #8D3B09;
}
.tartiflette-card__description--text-presentation {
  color: #D6BE74;
}

.cammenbert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
}
@media screen and (min-width: 884px) {
  .cammenbert-card {
    flex-direction: row;
  }
}
.cammenbert-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.cammenbert-card__description--title {
  color: #8D3B09;
}
.cammenbert-card__description--text-presentation {
  color: #D6BE74;
}
.cammenbert-card__view {
  width: 50%;
}
.cammenbert-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-reservation {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin-top: 5vw;
  padding: 1vw;
  background-color: #D6BE74;
  color: #000000;
  cursor: pointer;
}
.btn-reservation:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}

.header {
  text-align: center;
  margin-top: 3vw;
}
.header__title {
  text-align: center;
  margin-bottom: 5vw;
}
.header__description {
  text-align: center;
}
.header__description--link {
  text-decoration: underline;
  text-decoration-color: #6C643C;
}
.header__description--link:hover {
  color: #8D3B09;
  text-decoration-color: #8D3B09;
}

.lunch-menu {
  text-align: center;
}
.lunch-menu__description {
  margin-top: 10vw;
}
.lunch-menu__description--title {
  margin-top: 4vw;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.lunch-menu__description--text {
  margin-top: 2.5vw;
  text-align: center;
}
.lunch-menu__description--price {
  text-align: center;
  margin-top: 1.5vw;
  color: #8D3B09;
}
.lunch-menu__starters {
  margin-top: 3.5vw;
}
.lunch-menu__starters--title {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__starters--list {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__main-courses {
  margin-top: 3.5vw;
  text-align: center;
}
.lunch-menu__main-courses--title {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__main-courses--list {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__desserts {
  margin-top: 3.5vw;
}
.lunch-menu__desserts--title {
  margin-top: 1.3vw;
  text-align: center;
}
.lunch-menu__desserts--list {
  margin-top: 1.3vw;
  text-align: center;
}

.duo-menu {
  text-align: center;
}
.duo-menu__description {
  margin-top: 10vw;
}
.duo-menu__description--title {
  margin-top: 4vw;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.duo-menu__description--text {
  margin-top: 2.5vw;
  text-align: center;
}
.duo-menu__description--price {
  margin-top: 1.5vw;
  color: #8D3B09;
  text-align: center;
}
.duo-menu__main-courses {
  margin-top: 3.5vw;
}
.duo-menu__main-courses--title {
  margin-top: 1.3vw;
  text-align: center;
}
.duo-menu__main-courses--list {
  margin-top: 1.3vw;
  text-align: center;
}
.duo-menu__desserts {
  margin-top: 3.5vw;
}
.duo-menu__desserts--title {
  margin-top: 1.3vw;
  text-align: center;
}
.duo-menu__desserts--list {
  margin-top: 1.3vw;
  text-align: center;
}

.gourmands-menu {
  text-align: center;
}
.gourmands-menu__description {
  margin-top: 10vw;
}
.gourmands-menu__description--title {
  margin-top: 4vw;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-align: center;
}
.gourmands-menu__description--text {
  margin-top: 2.5vw;
  text-align: center;
}
.gourmands-menu__description--price {
  margin-top: 1.5vw;
  color: #8D3B09;
  text-align: center;
}
.gourmands-menu__main-courses {
  margin-top: 3.5vw;
}
.gourmands-menu__main-courses--title {
  margin-top: 1.3vw;
  text-align: center;
}
.gourmands-menu__main-courses--list {
  margin-top: 1.3vw;
  text-align: center;
}
.gourmands-menu__desserts {
  margin-top: 3.5vw;
}
.gourmands-menu__desserts--title {
  margin-top: 1.3vw;
  text-align: center;
}
.gourmands-menu__desserts--description {
  margin-top: 0.5vw;
  text-align: center;
}
.gourmands-menu__desserts--list {
  margin-top: 1.3vw;
  text-align: center;
}

.lunch-list__starters {
  text-align: center;
}

.lunch-list__main-courses {
  text-align: center;
}

.lunch-list__desserts {
  text-align: center;
}

.duo-list__main-courses {
  text-align: center;
}

.duo-list__desserts {
  text-align: center;
}

.gourmands-list__main-courses {
  text-align: center;
}

.gourmands-list__desserts {
  text-align: center;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
}
.btn__primary {
  background-color: #D6BE74;
  color: #000000;
}
.btn__primary:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}/*# sourceMappingURL=style.css.map */